<%= form_for(ec2_instance) do |f| %>
  <% if ec2_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ec2_instance.errors.count, "error") %> prohibited this ec2_instance from being saved:</h2>

      <ul>
      <% ec2_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'QTY' %>
    <%= f.text_field :aws_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
