<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ec2_instance.name %>
</p>

<p>
  <strong>Aws:</strong>
  <%= @ec2_instance.aws_id %>
</p>

<p>
  <strong>Instance type:</strong>
  <%= @ec2_instance.instance_type %>
</p>

<p>
  <strong>Instance ami:</strong>
  <%= @ec2_instance.instance_ami %>
</p>

<p>
  <strong>Region:</strong>
  <%= @ec2_instance.region %>
</p>

<%= link_to 'Edit', edit_ec2_instance_path(@ec2_instance) %> |
<%= link_to 'Back', ec2_instances_path %>
